@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Raleway&family=Rubik:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}



body {
  margin: 0;
  padding: 0;
  font-family: Relaway, Rubik;


}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.header {

  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #b0b6bf;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
  padding-top: 20px;
  align-items: center;
  position: fixed;
  height: 25px;



}

.header a {

  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}



h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #b0b6bf;
  
}

.social-media {
  margin: 50px auto;
  display: flex;
  padding: auto;
  justify-content: center;


}

.social-media a {
  color: white;
  padding: 1rem 4rem;
  border: 2px solid white;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
  align-self: center;
  border-radius: 4px;
  text-decoration: none;

}

.social-media a:hover {
  background-color: #b0b6bf;
  color: #000;
}

.header a:hover {
  background-color: white;

}

.projects {
  background-color: #45567d;
  text-align: center;
  padding: 10rem 2rem;
}

.projects h2 {
  font-size: 40px;
}
