@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Rubik:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Raleway&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: hsl(210 8% 12%);
  --secondary-color: white;

}

.light-mode {
  --primary-color: #edf2fc;
  --secondary-color: black;
}



body {
  margin: 0;
  padding: 0;
  font-family: Space Mono, Poppings, Rubik;
  text-transform: lowercase;
  color: var(--secondary-color);
  background-color: var(--primary-color);


}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--secondary-color);


}

.header {


  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: transparent;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
  padding-top: 20px;
  align-items: center;
  position: fixed;
  height: 25px;
  color: var(--secondary-color);





}

.header a {

  color: var(--secondary-color);
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  overflow: hidden;

}



h1 {
  font-size: 50px;
  position: relative;
  color: var(--secondary-color);
  left: 0px;
  padding: 0;
  margin: 0;
  transform: translateX(-150px);

  word-spacing: -10px;

}

.welcome h2 {
  text-align: center;
  color: var(--secondary-color);
  transform: translateX(-405px);
}

.social-media {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  color: var(--secondary-color);


}

.social-media img {
  size: 100px;

}



.header a:hover {
  color: CornflowerBlue;

  transition: background-color .5s;
  font-size: 20px;


}

.projects {
  text-align: center;

}

.projects h2 {
  font-size: 40px;
  color: var(--secondary-color);
  height: 100px;
  transform: translateX(-300px);

}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: 100px;
  margin-left: 100px;
}



.contato {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;

}

.color {
  color: CornflowerBlue;
}

.header img {
  height: 30px;
  width: 30px;
  margin: 50px;

}

.header img:hover {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.logo {
  position: relative;
  transform: translateX(-750px);
}

.project {
  width: 250px;
  height: 250px;
  border: 2px solid var(--secondary-color);
  box-shadow: 1px 1px 2px var(--secondary-color);

}

/* .calc  {
  background-image: url("2022-06-12 (4).png");
  background-size: cover;

}

.city {
  background-image: url("2022-06-12 (3).png");
  background-size: cover;
}

.table {
  background-image: url("2022-06-12 (5).png");
  background-size: cover;
}
*/

.welcome img {
  position: absolute;
  height: 450px;
  transform: translateX(450px);
  background-color: transparent;
  margin-top: 20px;

}
